%h1 Listing sales_types

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th
      
  %tbody
    - @sales_types.each do |sales_type|
      %tr
        %td= sales_type.name
        %td= link_to 'Show', sales_type
        %td= link_to 'Edit', edit_sales_type_path(sales_type)
        %td= link_to 'Destroy', sales_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sales type', new_sales_type_path
