= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .field
    = f.label :description
    = f.text_area :description, class: "wysihtml5", rows: 12
  .field
    %label
      Job Function
    %br
    = f.collection_select(:job_function_id, JobFunction.all, :id, :name,  {:class => 'form-control'})
  .field
    %label
      Minimum Years of Experience
    %br
    = f.select(:experience_years, options_for_select(0..25),  {:class => 'form-control'})
  .field
    = f.label "Salary range (Drag each triangle to create the range for this position)"
    %br
    %input#salaries{:'data-slider-handle' => 'triangle'}
    = f.hidden_field :salary_low,id: 'salary_low'
    = f.hidden_field :salary_high, id: 'salary_high'
    %br
    %br
  .field
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .field
    = f.label :state
    %br
    = f.collection_select(:state_id, State.all, :id, :name,  {:class => 'form-control'})
    %br
  .field
    = f.label :zip
    = f.number_field :zip, class: 'form-control'
  .field
    %h5 Is this a telecommuting position?
    Yes
    = f.check_box :is_remote, style: 'width:15px'
    %br
    %br
  - if @should_pay
    %hr
      .account-content
        .text-center
          The first three job postings are free, each additional posting is only $10.  After purchasing the job, you can edit it at anytime!
      %hr
      %br
      #cc-fields
        .field
          = label_tag :card_number, "Credit Card Number "
          = text_field_tag :card_number, nil, name: nil, value: '4242424242424242', class: 'form-control'
        .field
          = label_tag :card_code, "Security Code on Card (CVV)"
          = text_field_tag :card_code, nil, name: nil, value: '1234', class: 'form-control'
        .field
          = label_tag :card_month, "Card Expiration"
          = select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}
          = select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}
          = hidden_field_tag :stripe_card_token, id: 'stripe_card_token'
        #waiting{style: 'display:none;text-align:center'}
          %h3
            Your credit card is being processed, this could take up to 3 minutes, please don't leave this page and wait for the request to finish.
    .actions
      = f.hidden_field :stripe_token, id: 'stripe-token'
      = f.submit 'Pay and Submit', class: 'btn btn-default', id: 'pay-btn'
  - else
    .actions
      = f.submit 'Submit', class: 'btn btn-default', id: 'save-btn'

:javascript
  $(function(){
    $('#save-btn').on('click', function(){
      $('#salary_low').val(salary_slider.slider('getValue')[0]);
      $('#salary_high').val(salary_slider.slider('getValue')[1]);
    })
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
    $('#pay-btn').click(function(e) {
      $('#salary_low').val(salary_slider.slider('getValue')[0]);
      $('#salary_high').val(salary_slider.slider('getValue')[1]);
      $('input[type=submit]').attr('disabled', true);
      $('#cc-fields').hide();
      $('#waiting').show();
      processCard();
      e.preventDefault();
    });
  });
  function processCard(){
      card = {
        number: $('#card_number').val(),
        cvc: $('#card_code').val(),
        expMonth: $('#card_month').val(),
        expYear: $('#card_year').val(),
        amount: 1000
       };
      Stripe.card.createToken(card, handleStripeResponse);
    }
  function handleStripeResponse(status, response){
    if (status == 200){
      $('#stripe-token').val(response.id)
      $('form').submit();
      //$('#new_order')[0].submit();
    }else{
      alert(response.error.message);
      $('#cc-fields').show();
      $('#waiting').hide();
      $('input[type=submit]').attr('disabled', false);
    }
  }
