= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .field
    = f.label :description
    = f.text_area :description, class: "wysihtml5", rows: 12
  .field
    %label
      Job Function
    %br
    = f.collection_select(:job_function_id, JobFunction.all, :id, :name,  {:class => 'form-control'})
  .field
    = f.label "Salary range (Drag each triangle to create the range for this position)"
    %br
    %input#salaries{:'data-slider-handle' => 'triangle'}
    = f.hidden_field :salary_low,id: 'salary_low'
    = f.hidden_field :salary_high, id: 'salary_high'
    %br
    %br
  .field
    = f.label :city
    = f.text_field :city, class: 'form-control'
  .field
    = f.label :state
    %br
    = f.collection_select(:state_id, State.all, :id, :name,  {:class => 'form-control'})
    %br
  .field
    = f.label :zip
    = f.number_field :zip, class: 'form-control'
  .field
    %h5 Is this a telecommuting position?
    Yes
    = f.check_box :is_remote, style: 'width:15px'
    %br
    %br
  .actions
    = f.submit 'Save', class: 'btn btn-default', id: 'save-btn'

:javascript
  $(function(){
    $('#save-btn').on('click', function(){
      $('#salary_low').val(salary_slider.slider('getValue')[0]);
      $('#salary_high').val(salary_slider.slider('getValue')[1]);
    })
    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
