.candidate-matches
  .action-bar
    .container
      .row
        .col-md-12
          %h2
            = @job.title
  .container.padded-container
    .row
      .col-md-6
        %h2{style: 'padding-bottom:5px'}
          %span Candidate Matches
      - if @job.is_active && @candidates.present?
        .col-md-6
          %div.mail-matched
            = form_tag email_match_candidates_job_path(@job), method: :post do
              = submit_tag "Email matched candidates", class: 'btn btn-md btn-info'
    %hr
    .row
      .col-md-12
        %table.table.table-responsive
          - if @candidates.present?
            - @candidates.each do |candidate|
              .row
                .col-md-2
                  = link_to candidates_profile_path(candidate) do
                    %img{src: candidate.candidate_profile.avatar_url}
                .col-md-6
                  = link_to candidates_profile_path(candidate) do
                    %h3
                      = candidate.name
                    = get_location candidate.candidate_profile
                  %br
                  %br
                  %p
                    = mail_to candidate.email, "Email Candidate"
                .col-md-4
                  %h4 Education
                  - if candidate.candidate_profile.education_level
                    = candidate.candidate_profile.education_level.name
              %hr
            = paginate @candidates
          - else
            %h3.text-center
              There are no candidate matches yet. Come back soon!