.candidate-matches
  .action-bar
    .container
      .row
        .col-md-12
          %h2= @job.title

  .container.padded-container
    .row
      .col-md-12
        %h2{style: 'padding-bottom:5px'}
          Candidate Shortlist
          %hr
        %table.table.table-responsive
          - @shortlists.each do |job_candidate|
            = link_to candidates_profile_path(job_candidate.candidate) do
              .row
                .col-md-2
                  %img{src: job_candidate.candidate.candidate_profile.avatar_url}
                .col-md-6
                  %h3
                    - if job_candidate.candidate.candidate_profile.is_incognito
                      Candidate
                    - else
                      = job_candidate.candidate.name
                  = get_location job_candidate.candidate.candidate_profile
                .col-md-4
                  %h4 Education
                  - if job_candidate.candidate.candidate_profile.education_level
                    = job_candidate.candidate.candidate_profile.education_level.name
            .row
              .col-md-8
              - if !job_candidate.accepted?
                .col-md-2
                  = form_for(job_candidate) do |f|
                    = f.hidden_field :status, id: 'is_hired', value: "#{get_status_key_by_value(JobCandidate.statuses[:accepted])}"
                    %button.btn.btn-default{style: 'width: 128px', type: 'submit'}
                      %i.fa.fa-check
                      Connect
                .col-md-2
                  = form_tag(remove_candidate_path(@job, job_candidate.candidate), method: 'post') do
                    %button.btn.btn-default{type: 'submit'}
                      %i.fa.fa-close
                      Remove
              - else
                .col-md-3
                .col-md-3
                  Match Accepted
            %hr

:javascript
  $(function(){

  })