.action-bar
  .container
    .row
      .col-md-10
        %h2 My Inactive Jobs
      .col-md-2
        = link_to 'Create New Job', new_job_path, class: 'btn btn-default'

.container.padded-container
  .row
    .col-md-12.job-status
      = link_to "Open Jobs (#{@active_job_count})", employer_jobs_path
      |
      = "Inactive Jobs (#{@jobs.count})"
      %hr

  - @jobs.each do |job|
    .row
      .col-md-8
        %h3= job.title
        %p= job.description
        .stat
          = link_to employer_show_actions_path(job) do
            %i.fa.fa-inbox
            %span
            = job.candidate_job_actions.count
            views
        .stat
          = link_to employer_show_matches_path(job) do
            %i.fa.fa-search
            %span
            = job.matches.count
            matches
        .stat
          = link_to employer_show_path(job) do
            %i.fa.fa-inbox
            = job.job_candidates.count
            applicants
      .col-md-4.job-actions
        = link_to new_job_path(:copy_id => job.id), class: "btn btn-info" do
          %i.fa.fa-plus{title: "copy to a new job"}
          Copy
        = link_to edit_job_path(job), class: "btn btn-info" do
          %i.fa.fa-edit{title: "edit this job"}
          Edit
        = link_to inactivate_job_path(job), class: "btn btn-info", :method => :put, :data => { :confirm => 'Are you sure?' } do
          %i.fa.fa-rocket{title: "activate this job"}
          Activate
    %hr
