.action-bar
  .container
    .row
      .col-md-12
        %h2= @job.title

.container.padded-container
  .row
    .col-md-12
      %h2{style: 'padding-bottom:5px'}
        Candidate Matches
        %hr
      %table.table.table-responsive
        - @job.matches.each do |candidate|
          = link_to candidates_profile_path(candidate) do
            .row
              .col-md-4
                %div
                  - if candidate.is_incognito
                    Candidate
                  - else
                    = candidate.name
                %img{src: candidate.avatar_url}
              .col-md-4
                %h4 Location
                = get_location candidate
              .col-md-4
                %h4 Education
                = candidate.education_level.name
          %hr

:javascript
  $(function(){

  })