.action-bar
  .container
    .row
      .col-md-9
        %h2 My Open Jobs
      .col-md-3.text-right
        = link_to 'Create New Job', new_job_path, class: 'btn btn-default'

.container.padded-container
  .row
    .col-md-12.job-status
      = "Open Jobs (#{@jobs.count})"
      |
      = link_to "Inactive Jobs (#{@inactive_job_count})", employer_archive_jobs_path
      |
      = link_to "Disable Jobs (#{@disable_job_count})", employer_job_disable_path
      %hr

  -@jobs.each do |job|
    .row
      .col-md-8
        %h3= job.title
        %p= strip_tags(truncate(job.description, length: 600, omission: "...", escape: false))
        .stat
          = link_to employer_show_actions_path(job) do
            %i.fa.fa-inbox
            %span
            = list_job_viewed_by_visible_candidates(job).count
            views
        .stat
          = link_to employer_show_matches_path(job) do
            %i.fa.fa-search
            %span
            = job.candidate_matches_list.count
            matches
        .stat
          = link_to employer_show_path(job) do
            %i.fa.fa-inbox
            = job.applicants.count
            applicants
        .stat
          = link_to employer_show_shortlists_path(job) do
            %i.fa.fa-list-ol
            = job.shortlist.count
            shortlist
        .stat
          = link_to employer_show_remove_path(job) do
            %i.fa.fa-close
            = job.deleted.count
            removed
      .col-md-4.job-actions
        = link_to new_job_path(:copy_id => job.id), class: "btn btn-info" do
          %i.fa.fa-plus{title: "copy to a new job"}
          Copy
        = link_to edit_job_path(job), class: "btn btn-info" do
          %i.fa.fa-edit{title: "edit this job"}
          Edit
        = link_to inactivate_job_path(job), class: "btn btn-info", :method => :put, :data => { :confirm => 'Are you sure?' } do
          %i.fa.fa-trash{title: "inactivate this job"}
          Inactivate
    %hr
  - if @jobs.count === 0
    %h3.text-center
      Looks like you haven't created any jobs yet. <br> Get started by 
      = link_to "creating your first job.", new_job_path
  
  = paginate @jobs