#section.bg-highlight.header
  .container
    .row
      .col-md-12
        %h2
          = @job.title
#section.wrapper-sm
  .container
    .row
      .col-md-12
        %h2{style: 'padding-bottom:5px'}
          Applicants
        %table.table.table-responsive
          - @job.job_candidates.each do |job_candidate|
            %tr
              %td
                = job_candidate.candidate.name
              %td
                %b Location
                %br
                = get_location job_candidate.candidate
              %td
                %b Education
                %br
                = job_candidate.candidate.education_level.name
              %td
                = link_to candidates_profile_path(job_candidate.candidate) do
                  %i.fa.fa-search
                  View Profile
              %td
                - if !job_candidate.is_hired?
                  = form_for(job_candidate) do |f|
                    = f.hidden_field :is_hired, id: 'is_hired'
                    %button.btn.btn-primary#hire= "Hire"
                - else
                  Already Hired

:javascript
  $(function(){
    $('#hire').on('click', function(){
      $('#is_hired').val(true);
    });
    //waitlist and hire button clicks
    $('#waitlist').on('click', function(){
      $('#status').val($(this).attr('status'));
    });
    $('#hire').on('click', function(){
      $('#status').val($(this).attr('status'));
    });


    //posting-status clicks
    $('.posting-status').on('click', function(){
      status_id = $(this).attr('status');
      //hide all panels
      $('.panel-status').hide();
      //show the panel we clicked
      $('#status-panel-'+status_id).show();
      //update the link
      $('.posting-status').removeClass('posting-status-active');
      $(this).addClass('posting-status-active');
    });

    //see if this link is pasted in, ie already has an anchor
    if (location.hash == ""){
      $($('.posting-status').first()).addClass('posting-status-active');
      $(".panel-status").hide();
      $("#status-panel-0").show();
    }
    //TODO: add section for pasted in anchored urls... this is least important  for all tasks

  })