#section.bg-highlight
  .container
    .row
      .col-md-10
        %h2 Jobs
      .col-md-2
        = link_to 'Create New Job', new_job_path, class: 'btn btn-default', style: 'margin-top:30px'
    .row{style: 'padding-bottom: 10px'}
      .col-md-12
        .small
          = "Open Jobs (#{@jobs.count})"
          |
          = link_to "Inactive Jobs (#{@inactive_job_count})", employer_archive_jobs_path
#section.wrapper-sm
  .container
    %table.table.table-responsive
      - @jobs.each do |job|
        %tr
          %td
            %h4
              = job.title
            = job.description
          %td
            %h4
              10 views
          %td
            %h4
              10 matches
          %td
            %h4
              = link_to employer_show_path(job) do
                = job.job_candidates.count
                Applicants
          %td
            = link_to new_job_path(:copy_id => job.id) do
              %i.fa.fa-plus{title: "copy to a new job"}
              Copy
          %td
            = link_to edit_job_path(job) do
              %i.fa.fa-edit{title: "edit this job"}
              Edit
          %td
            = link_to inactivate_job_path(job), :method => :put, :data => { :confirm => 'Are you sure?' } do
              %i.fa.fa-trash{title: "inactivate this job"}
              Inactivate
