#job-list
  .action-bar
    .container
      .row
        .col-md-9
          .dropdown
            = select_tag "Job Type", options_from_collection_for_select(JobFunction.all, "id", "name"), { prompt: 'Select Type', class: 'selectpickers', id: 'job-function-select'}
          %span Remote Only
          %input{:checked => "", :name => "my-checkbox", :type => "checkbox", :id => 'remote-only-check'}/
        .col-md-3.text-right
          = link_to "Find Now", jobs_path, class: "btn btn-primary action-btn", id: "find-jobs"
  .container.padded-container
    .row
      .col-md-2
        %p
          = link_to "Positions Viewed", jobs_path
        %p
          = link_to "Matches", jobs_path
        %p
          = link_to "Saved", candidate_job_saved_path
        %p
          = link_to "All", jobs_path
      .col-md-10
        .row
          .col-md-4
            %h3 Position
          .col-md-2
            %h3 Salary
          .col-md-3
            %h3 Location
          .col-md-3
        .small
          = @jobs_str
        - @jobs.each do |job|
          .row
            = link_to job_path(job) do
              .col-md-4
                %h4
                  = job.title
              .col-md-2
                %b
                  Salary Range
                %br
                = "$#{job.salary_low}"
                \-
                = "$#{job.salary_high}"
              .col-md-3
                %b
                  Location
                %br
                = "#{job.city}, #{job.state.name}"
            .col-md-3
              - if candidate_signed_in?
                = form_for(CandidateJobAction.new, html: { style: 'display:inline'}) do |f|
                  = f.hidden_field :candidate_id, value: "#{current_candidate.id}"
                  = f.hidden_field :job_id, value: "#{job.id}"
                  = f.hidden_field :is_saved, value: "true"
                  %button.btn.btn-primary= "Save"
                = link_to 'View', job_path(job), class: "btn btn-primary"
          %hr
:javascript
  $(function(){
    $('#find-jobs').click(function(){
      $('#find-jobs').attr('href', $('#find-jobs').attr('href') + '?job_function=' + $('#job-function-select').val() + '&is_remote=' +  $('#remote-only-check').bootstrapSwitch('state') );
    });
  })