#job-list
  = render 'jobs/search'
  .container.padded-container
    .row
      .col-md-2
        - if candidate_signed_in?
          = render 'jobs/candidate_sidebar'
      .col-md-10
        .row
          %p= @jobs_str
          .col-md-4
            %h3 Position
          .col-md-2
            %h3 Salary
          .col-md-3
            %h3 Location
          .col-md-3
        - @jobs.each do |job|
          .row
            = link_to job_path(job) do
              .col-md-4
                %h4
                  = job.title
              .col-md-2
                %b
                  Salary Range
                %br
                = "$#{job.salary_low}"
                \-
                = "$#{job.salary_high}"
              .col-md-3
                %b
                  Location
                %br
                = "#{job.city}, #{job.state.name}"
            .col-md-3
              - if candidate_signed_in?
                = form_for(CandidateJobAction.new, html: { style: 'display:inline'}) do |f|
                  = f.hidden_field :candidate_id, value: "#{current_candidate.id}"
                  = f.hidden_field :job_id, value: "#{job.id}"
                  = f.hidden_field :is_saved, value: "true"
                  %button.btn.btn-default.float-right= "Save Position"
          %hr
