.action-bar
  .container
    .row
      .col-md-10
        %h2 My expired jobs
      .col-md-2
        = link_to 'Create New Job', new_job_path, class: 'btn btn-default'

.container.padded-container
  .row
    .col-md-12.job-status
      = link_to "Open Jobs (#{@active_job_count})", employer_jobs_path
      |
      = link_to "Inactive Jobs (#{@inactive_job_count})", employer_archive_jobs_path
      |
      = "Expired Jobs (#{@jobs.count})"
      %hr
  - @jobs.each do |job|
    .row
      .col-md-8
        %h3= link_to job.title, job_path(job)
        %p= strip_tags(truncate(job.description, length: 600, omission: "...", escape: false))
      .col-md-4.job-actions
        = link_to "#", {class: 'btn btn-info',"data-target" => "#enable-job-#{job.id}", "data-toggle" => "modal", :type => "button"} do
          %i.fa.fa-rocket
          Enable
    / Modal
    .modal.fade{:role => "dialog", id: "enable-job-#{job.id}"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"data-dismiss" => "modal", :type => "button"} ×
            %h4.modal-title Pay to enable the job
          .modal-body
            %h4
              = job.title
            %p
              = strip_tags(truncate(job.description, length: 600, omission: "...", escape: false))
            %hr

            %p Your card last four digit is: #{@customer.last4}. By clicking on "Pay and submit" button our system will automatically deduct $#{JOB_POSTING_FEE} from this card to enable this job for next 30 days. Click on "Cancel" button to return back.
            %p

            %hr
            
          .modal-footer
            = form_tag employer_job_payment_path(job.id) do
              = submit_tag "Pay and submit", class: "btn btn-default pull-left" 
          
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel

    %hr
  = paginate @jobs

:css
  .modal-backdrop {
    display:none;
  }