.action-bar
  .container
    .row
      .col-md-8
        %h2= @job.title
      .col-md-4.text-right
        = link_to 'Apply Now', create_job_candidates_path(@job), class: 'btn btn-default', :data => { :confirm => 'Are you sure?' }

.container.padded-container
  .row
    .col-md-7
      %h2
        = "About #{@job.employer.company}"
      %p
        = @job.employer.description
      %hr
      %h2
        = @job.title
      %p
        = @job.description
    .col-md-4.col-md-offset-1
      #account
        .account-panel
          .account-header
            %h2
              Job Details
          .account-content
            %p
              %h4 Salary
              %p= "$#{@job.salary_low} - $#{@job.salary_high}"
            %p
              %h4 Location
              %p= "#{@job.city} #{@job.state.name}, #{@job.zip}"
            %p
              %h4 Is remote
              %p= @job.is_remote ? 'yes' : 'no'