#web-landing-one
  .jumbotron.text-center
    .container
      %h1#header Find Your Dream Sales Job
      %p SalesMatchr finds the best new opportunities for you based on your experience and unique sales style.
      = link_to "Get Started", new_candidate_registration_path, class: "btn btn-default btn-lg"
    .responsive-note
      %span#responsive

  / .testimonial
  /   = link_to 'X', '#', class: "close-testimonial close-btn", id: "optional"

  .benefit1
    .container
      .text-center
        %h2 We curate to find the most experienced and highest calibre talent using technology and data analytics to cut traditional overhead and save you thousands of dollars. 

        %hr

      .row
        .col-md-7
          = image_tag "web-screen.png", class: "img-responsive"
        .col-md-5
          %h2 Delivered directly to your inbox
          %p Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.

  .benefit2
    .container
      .row
        .col-md-5
          %h2 This is a section header
          %p Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.
        .col-md-7
          = image_tag "web-screen.png", class: "img-responsive"

  .benefit3
    .container
      .row
        .col-md-7
          = image_tag "web-screen.png", class: "img-responsive"
        .col-md-5
          %h2 Hire the right salespeople
          %p Croissant chocolate cake tart gingerbread jelly ice cream jelly apple pie. Candy canes gummies cheesecake candy canes gummi bears donut. Candy canes gummies jujubes chocolate cake. Applicake biscuit gingerbread lemon drops bonbon icing topping biscuit. Applicake cupcake pie sesame snaps carrot cake cotton candy chocolate cake sesame snaps cupcake. Jelly beans candy carrot cake cotton candy jelly.

  .call-to-action.text-center
    .container
      %h1{:contenteditable => true} Ready for an adventure?
      %p{:contenteditable => true} Pie jujubes bonbon sugar plum dragée tart jelly cookie donut. Apple pie sweet roll caramels <br> sweet brownie. Apple pie powder biscuit gummies.
      = link_to "Get Started", new_candidate_registration_path, class: "btn btn-default btn-lg"