#web-landing-one
  .jumbotron.text-center
    .container
      %h1#header Find Your Next Sales Superhero
      %p It’s time to rethink your sales hiring process. SalesMatchr uses science and data to find the best salesperson for your company.
      = link_to "Get Started", new_employer_registration_path, class: "btn btn-default btn-lg"
    .responsive-note
      %span#responsive

  / .testimonial
  /   = link_to 'X', '#', class: "close-testimonial close-btn", id: "optional"

  .benefit1
    .container
      .text-center
        %h2 See only the most experienced and highest caliber talent from our curated pool of applicants.

        %hr

      .row
        .col-md-7
          / icon will be placed here
          = image_tag "productivity.svg", class: "img-responsive"
        .col-md-5
          %h2 Increased Sales Productivity
          %p Research shows that placing the right salespeople in the right job allows them to become instantly more productive. Let SalesMatchr identify the applicants that will ramp up faster than others. This means less time on-boarding and more time spent doing what they were hired for: closing deals and growing your company’s bottom line.

  .benefit2
    .container
      .row
        .col-md-5
          %h2 Qualified applicants delivered directly to your inbox.
          %p One of the biggest problems in hiring sales talent is maintaining an active talent pool. Without anyone in queue, there is a rush to hire each and every time a position opens up. SalesMatchr consistently delivers high quality candidates that fit your needs.
        .col-md-7
          / Email woosh icon
          = image_tag "travel.svg", class: "img-responsive"

  .benefit3
    .container
      .row
        .col-md-7
          / Image pertaining to the Archetype
          = image_tag "person.svg", class: "img-responsive"
        .col-md-5
          %h2 Hire the right salespeople
          %p Sales recruiting is notoriously subjective, inefficient, and expensive. The typical process uses a shotgun approach that often results in unproductive hires. SalesMatchr develops an objective, data-driven success profile based on your existing top performers to find the best candidates to join your sales team. 

  .call-to-action.text-center
    .container
      %h1 Ready to find the next great sales hire?
      %p No tedious resume scanning, multiple interviews and hours of your time.  SalesMatchr streamlines the process in finding the right candidates.
      = link_to "Get Started", new_employer_registration_path, class: "btn btn-default btn-lg"



/ #section.section-highlight.wrapper-sm
/   .container
/     .row
/       .col-md-4
/         %h4
/           Newsletter
/       .col-md-4
/         %h4
/           Contact at
/         %p{style: 'text-align:left'}
/           %br
/             p(703) 224-8088
/           %br
/             f(703) 224-8089
/           %br
/             team@jobmatchr.co
/       .col-md-4
/         %h4
/           SalesMatchr
/         %p{style: 'text-align:left'}
/           1900 Campus Commons Dr
/           %br
/             Reston, VA 20191
/             Suite 100