%fieldset.account-field
  = f.hidden_field :id, value: f.object.id
  = f.label "School"
  = f.collection_select(:college_id, College.all, :id, :name, {},  {:class => 'form-control college-select'})
  = f.label "Other"
  = f.text_field :college_other, disabled: true, class: 'college-other'
  = f.label "Degree"
  %br
  = f.collection_select(:education_level_id, EducationLevel.all, :id, :name,  {:class => 'form-control'})
  %br
  = f.label "Description"
  = f.text_area :description, class: 'form-control'
  = f.hidden_field :_destroy, class: 'remove-object'
  = link_to "remove", class: "remove_fields btn btn-primary pull-right" do
    %i.fa.fa-trash
    Remove
  %br
  %br
  %br
  %hr
:javascript
  $('.college-select').on("change", function(){
    if ($($(this).find('option:selected')).text() == "Other"){
      $(this).parent().find(".college-other").attr("disabled", false);
    }else{
      $(this).parent().find(".college-other").attr("disabled", true);
      $(this).parent().find(".college-other").val('');
    }
  });