%fieldset.account-field
  %br
  %br
  = f.hidden_field :id, value: f.object.id
  = f.label "Position"
  = f.text_field :position, class: 'form-control'
  = f.label "Company"
  = f.text_field :company, class: 'form-control'
  .row
    .col-md-6
      = f.label "Date Started", class: 'inline'
      = f.label "(is current: ", class: 'inline'
      = f.check_box :is_current, class: 'is-current inline'
      )
      = f.date_select :start_date, { :discard_day => true, :start_year => 1920, :end_year => DateTime.now.year},  class: 'form-control experience-date'
    .col-md-6.end-date{style: f.object.is_current ? 'display: none' : ''}
      = f.label "Date Ended"
      = f.date_select :end_date, { :discard_day => true, :start_year => 1920, :end_year => DateTime.now.year}, class: 'form-control experience-date'
  %br
  = f.label "Description"
  = f.text_area :description, class: 'form-control', placeholder: 'position description'
  .row
    .col-md-6
      = f.label "Sales Type"
      %br
      = f.collection_select(:sales_type_id, SalesType.all, :id, :name,  {:class => 'form-control'})
  = f.hidden_field :_destroy, class: 'remove-object'
  = link_to "remove", class: "remove_fields btn btn-primary pull-right" do
    %i.fa.fa-trash
    Remove
  %br
  %br
  %br
  %hr



:javascript
  $('.is-current').on("click", function(){
    if ($(this).is(':checked'))
      $(this).parents('.row:first').find('.end-date').hide();
    else
      $(this).parents('.row:first').find('.end-date').show();
  });


