- if @candidate.experiences == 0
  %h2 hi

%h4
  = experience.position
%p
  = experience.company
%small
  = format_date experience.start_date
  - if !experience.is_current
    \-
    = format_date experience.end_date
  - else
    \- currently employed
%p
  = experience.description

%hr