#registration-bar
  .container
    .row
      .col-md-4
        .btn.btn-primary.profile#accounts
          Profile
      .col-md-4
        .btn.btn-primary.profile#experience
          Experience
      .col-md-4
        .btn.btn-primary.profile#education
          Education

.container.padded-container
  #account
    #new-registration
      = form_for(current_candidate, validate: true, url: candidates_account_path, html: { multipart: true, method: :put }) do |f|

        // Account Page
        #accounts-panel.account-panel
          .account-header
            %h2 Profile Information
          .account-content
            .text-center
              In a minute-length video below, please introduce yourself, tell us about your sales background and share what makes you a valuable asset to an organization. Sell yourself!
            %br
            %hr
            %br
            = f.label "Profile Image"
            = f.file_field :avatar
            = f.label "Education Level"
            %br
            = f.collection_select(:education_level_id, EducationLevel.all, :id, :name,  {:class => 'form-control selectpickers'})
            %br
            = f.label "City"
            = f.text_field :city, class: 'form-control', validate: true
            = f.label "State"
            %br
            = f.collection_select(:state_id, State.all, :id, :name,  {:class => 'form-control selectpickers'})
            %br
            = f.label "Zipcode"
            = f.text_field :zip, class: 'form-control'
            = f.hidden_field :ziggeo_token, id: 'ziggeo-token'
            .video-container
              .row
                .col-md-6
                  %ziggeo{ 'ziggeo-width' => 320, 'ziggeo-height' => 240 }
                .col-md-6
                  %p Please introduce yourself and talk about your sales experience, tell us about your top three accomplishments and why are you in sales.  Let your passion come through!  Your video should be no more than a one minute long with 20-30 seconds being ideal so keep it concise.  Feel free to re-record as many times as you need to!
            %br
            .btn.btn-default.btn-full.next_button#experience-button
              Next

        // Experience Page
        #experience-panel.account-panel{style: 'display:none'}
          .account-header
            %h2 Work Experience
            %i.fa.fa-info-circle.info{title: "add your work experience"}
          .account-content
            .text-center
              Please list any previous positions you’ve held, starting with your most recent job.
            %br
            %hr
            %br
            = f.fields_for :experiences do |builder|
              = render 'experience_fields', f: builder
              %hr
            = link_to_add_fields "+ Add Experience", f, :experiences
            %br
            %br
            .btn.btn-default.btn-full.next_button#education-button
              Next

        // Education Page
        #education-panel.account-panel{style: 'display:none'}
          .account-header
            %h2 Education Experience
            %i.fa.fa-info-circle.info{title: "add your education experience"}
          .account-content
            .text-center
              Now, let's work on your education history. Start by listing your highest degree obtained, and then work down to your high school education.
            %br
            %hr
            %br
            = f.fields_for :educations do |builder|
              = render 'education_fields', f: builder
            = link_to_add_fields "+ Add Education", f, :educations
            %br
            %br
            %button.btn.btn-default.btn-full
              Submit

:javascript
  function account(){
    $('.profile').on('click',function(){
      $('.profile').removeClass('btn-active');
      $('.account-panel').hide();
      $('#'+this.id+'-panel').show();
      $(this).addClass('btn-active');
    });
    $('.next_button').on('click',function(){
      $('.profile').removeClass('btn-active');
      $('.account-panel').hide();
      $('#'+this.id.split('-')[0]+'-panel').show();
      $('#'+this.id.split('-')[0]).addClass('btn-active');
    });
    ZiggeoApi.Events.on("submitted", function (data) {
    	$('#ziggeo-token').val(data.video.token);
    });
    $('#archetype-panel').find('input').on('click',function(){
      if ($('#archetype-panel').find('input:checked').length == 20){
        $('#accounts-button').attr('disabled',false);
      }
    });
    $('.college-select').on("change", function(){
    });
  }


  $(document).on('page:load', account);
  $(document).ready(account);
