#registration-bar
  .container
    .row
      .col-md-3
        .btn.btn-primary.profile#archetype.btn-active
          Archetype
      .col-md-3
        .btn.btn-primary.profile#accounts
          Profile
      .col-md-3
        .btn.btn-primary.profile#experience
          Experience
      .col-md-3
        .btn.btn-primary.profile#education
          Education

.container.padded-container
  #account
    #new-registration
      = form_for(current_candidate, url: candidates_account_path, html: { multipart: true, method: :put }) do |f|

        // Archetype Page
        #archetype-panel.account-panel
          .account-header
            %h2 Archetype
          .account-content
            = f.label "Years of experience"
            %br
            = f.collection_select(:year_experience_id, YearExperience.all, :id, :name,  {:class => 'form-control selectpickers'})
            = f.fields_for :candidate_question_answers do |builder|
              = render 'candidate_question_answer_fields', f: builder
            %br
            .btn.btn-default.btn-full.next_button#experience-button
              Next
        // Account Page
        #accounts-panel.account-panel{style: 'display:none'}
          .account-header
            %h2 Profile Information
          .account-content
            = f.label "Profile Image"
            = f.file_field :avatar
            = f.label "Education Level"
            %br
            = f.collection_select(:education_level_id, EducationLevel.all, :id, :name,  {:class => 'form-control selectpickers'})
            %br
            = f.label "City"
            = f.text_field :city, class: 'form-control'
            = f.label "State"
            %br
            = f.collection_select(:state_id, State.all, :id, :name,  {:class => 'form-control selectpickers'})
            %br
            = f.label "Zipcode"
            = f.text_field :zip, class: 'form-control'
            = f.hidden_field :ziggeo_token, id: 'ziggeo-token'
            %ziggeo{ 'ziggeo-width' => 320, 'ziggeo-height' => 240 }
            %br
            .btn.btn-default.btn-full.next_button#experience-button
              Next
        
        // Experience Page
        #experience-panel.account-panel{style: 'display:none'}
          .account-header
            %h2 Work Experience
            %i.fa.fa-info-circle.info{title: "add your work experience"}
          .account-content
            = f.fields_for :experiences do |builder|
              = render 'experience_fields', f: builder
              %hr
            = link_to_add_fields "+ Add Experience", f, :experiences
            %br
            .btn.btn-default.btn-full.next_button#education-button
              Next

        // Education Page
        #education-panel.account-panel{style: 'display:none'}
          .account-header
            %h2 Education Experience
            %i.fa.fa-info-circle.info{title: "add your education experience"}
          .account-content
            = f.fields_for :educations do |builder|
              = render 'education_fields', f: builder
            = link_to_add_fields "+ Add Education", f, :educations
            %br
            %button.btn.btn-default.btn-full
              Submit

:javascript
  $(function(){
    $('.profile').on('click',function(){
      $('.profile').removeClass('btn-active');
      $('.account-panel').hide();
      $('#'+this.id+'-panel').show();
      $(this).addClass('btn-active');
    });
    $('.next_button').on('click',function(){
      $('.profile').removeClass('btn-active');
      $('.account-panel').hide();
      $('#'+this.id.split('-')[0]+'-panel').show();
      $('#'+this.id.split('-')[0]).addClass('btn-active');
    });
    ZiggeoApi.Events.on("submitted", function (data) {
    	$('#ziggeo-token').val(data.video.token);
    });
  })
