.profile

  .container.padded-container
    .row
      .col-md-12
        .center-img
          = image_tag get_archetype_image_from_score @candidate.archetype_score
    .text-center
      %h2= @candidate.name
      %h4= get_archetype_from_score @candidate.archetype_score
      %p
        = (get_archetype_description_from_score @candidate.archetype_score).html_safe
      - if current_candidate && current_candidate.id == @candidate.id
        = link_to "Edit Profile", candidates_account_path, class: "btn btn-default"

    %hr
    
    .wrapper-sm
      .container
        .row
          .col-md-12.text-center
            - if current_candidate && current_candidate.id == @candidate.id
              #incognito-panel
                #incognito-header
                  Incognito Mode
                #incognito-content
                  %input{:checked => "", :name => "my-checkbox", :type => "checkbox", :id => 'incognito', checked: @candidate.is_incognito}/
                  - if @candidate.is_incognito
                    %p Your profile is currently hidden. Turn off incognito to make your profile public.
                  - else
                    %p Your profile is currently visible. Turn on incognito to hide your profile.
        %br
        %br
          .col-md-6
            / = image_tag @candidate.avatar.url, id: 'avatar', style: "display:" + (!@candidate.is_incognito ? 'block' : 'none')
            / %img{src: '/img/incognito.png', style: "display:" + (@candidate.is_incognito ? 'block' : 'none'), id: 'incognito-img'}
            - if @candidate.ziggeo_token != nil && @candidate.ziggeo_token != ''
              %ziggeo{ 'ziggeo-video' => @candidate.ziggeo_token, 'ziggeo-width' => 553, 'ziggeo-height' => 297}
              %br
            - elsif ( current_candidate == @candidate ) && ( !@candidate.ziggeo_token )
              = link_to 'Edit your profile to add a video', candidates_account_path
              %br
            .account-panel
              .account-content
                .row
                  .col-md-6
                    %h4 Location
                    %p
                      = @candidate.city
                      = @candidate.state.name
                      = @candidate.zip
                  .col-md-6
                    %h4 Education Level
                    %p
                      = @candidate.education_level.name
                .row
                  .col-md-6
                    %h4 Experience
                    %p
                      = @candidate.year_experience.name

          
          // Work Experience & Education
          .col-md-6
            %div{:role => "tabpanel"}
              / Nav tabs
              %ul.nav.nav-tabs{:role => "tablist"}
                %li.active{:role => "presentation"}
                  %a{"aria-controls" => "work", "data-toggle" => "tab", :href => "#work", :role => "tab"} Work History
                %li{:role => "presentation"}
                  %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#education", :role => "tab"} Education
              / Tab panes
              .tab-content.account-panel
                #work.tab-pane.active{:role => "tabpanel"}
                  .account-content
                    %h2 Work History
                    - @candidate.experiences.each do |experience|
                      = render 'candidates/experience_item', experience: experience

                #education.tab-pane{:role => "tabpanel"}
                  .account-content
                    %h2 Education
                    - @candidate.educations.each do |education|
                      = render 'candidates/education_item', education: education
:javascript
  var profile_picture_url = "#{@candidate.avatar_url}";
  $(function(){
    $('#incognito').on('switchChange.bootstrapSwitch', function(event, state) {
      var url = '/candidates/incognito/' + $('#incognito').bootstrapSwitch('state');
      $.get(url)
      if (state){
        $('#avatar').hide();
        $('#incognito-img').show();
      }else{
        $('#avatar').show();
        $('#incognito-img').hide();
      }
    })
  })