.job-list
  .action-bar
    .container
      .row
        .col-md-9
          %h2 My Jobs
  .container.padded-container
    - @job_candidates.each do |job_candidate|
      .row
        = link_to job_path(job_candidate.job) do
          .col-md-8
            %h3= job_candidate.job.title
            %p= job_candidate.job.description
            %p
              - if job_candidate.submitted?
                %b.secondary-color
                  Submitted
              - else
                Submitted
              |
              - if job_candidate.viewed?
                %b.secondary-color
                  Viewed
              - else
                Viewed
              |
              - if job_candidate.accepted?
                %b.secondary-color
                  Accepted
              - else
                Accpeted
              |
              - if job_candidate.withdrawn?
                %b.secondary-color
                  Withdrawn
              - else
                Withdrawn
        .col-md-4.job-actions
          - if !job_candidate.withdrawn?
            = form_for(job_candidate) do |f|
              = f.hidden_field :status, value: "#{get_status_key_by_value(JobCandidate.statuses[:withdrawn])}"
              %button.btn.btn-info#hire{:data => { :confirm => 'Are you sure?' }}= "Withdraw Application"

          - else
            Application Withdrawn
      %hr