.container.padded-container
  #account
    #new-registration
      = form_for(current_employer, url: employers_account_path, html: { method: :put }) do |f|
        #accounts-panel.profile-panel
          .container
            .account-panel
              .account-header
                %h2
                  Edit Your Profile
              .account-content
                = f.label "Company Name"
                = f.text_field :company, class: 'form-control'
                = f.label "Profile Image"
                = f.file_field :avatar
                = f.label "City"
                = f.text_field :city, class: 'form-control'
                = f.label "State"
                %br
                = f.collection_select(:state_id, State.all, :id, :name,  {:class => 'form-control selectpickers'})
                %br
                = f.label "Zipcode"
                = f.text_field :zip, class: 'form-control'
                = f.label "Company Bio"
                = f.text_area :description, class: 'form-control'
                = f.hidden_field :ziggeo_token, id: 'ziggeo-token'
                %ziggeo{ 'ziggeo-width' => 320, 'ziggeo-height' => 240 }
                %br
                .account-footer
                  %button.btn.btn-default.btn-full
                    Save Changes
:javascript
  function account(){
    $('.profile').on('click',function(){
      $('.profile-panel').hide();
      $('#'+this.id+'-panel').show();
    });
    ZiggeoApi.Events.on("submitted", function (data) {
      $('#ziggeo-token').val(data.video.token);
    });
  };

  $(document).ready(account);
  $(document).on('page:load', account);