.container.padded-container
  #account
    #new-registration
    = form_for(current_employer, validate: true, url: employers_account_path, html: { multipart: true, method: :put }) do |f|
      #accounts-panel.profile-panel
        .container
          .account-panel
            .account-header
              %h2
                Edit Your Profile
            .account-content
              .text-center 
                In a minute-length video below, please introduce yourself, tell us about your company and what type of salesperson you are looking for. Please be as specific as possible.
              %br
              %hr
              %br
              = f.fields_for :employer_profile do |profile_fields|
                = f.label :first_name
                = f.text_field :first_name, class: 'form_control'
                = f.label :last_name
                = f.text_field :last_name, class: 'form-control'
                = render 'profile_fields', profile_fields: profile_fields
:javascript
  function account(){
    $('.profile').on('click',function(){
      $('.profile-panel').hide();
      $('#'+this.id+'-panel').show();
    });
    ZiggeoApi.Events.on("submitted", function (data) {
      $('#ziggeo-token').val(data.video.token);
    });
  };

  $(document).on('page:load', account);
  $(document).ready(account);
