.action-bar
  .container
    .row
      .col-md-3
      .col-md-9.text-right
        = link_to "Edit Profile", employers_account_path, class: "btn btn-default"
        = link_to "Edit Account Settings", edit_employer_registration_path, class: "btn btn-default"

.container.padded-container
  .row
    .col-md-4.col-md-offset-4
      = image_tag current_employer.avatar.url
  .text-center
    %h3= current_employer.name
    %p= current_employer.company
    %p= "#{current_employer.city} #{current_employer.state ? current_employer.state.name: ''}, #{current_employer.zip}"

  .row
    .col-md-6
      = current_employer.description
    .col-md-6
      - if current_employer.ziggeo_token != nil
        %ziggeo{ 'ziggeo-video' => current_employer.ziggeo_token, 'ziggeo-width' => 553, 'ziggeo-height' => 297}
