.profile
  .container.padded-container
    .row
      .col-md-12.text-center
        = image_tag current_employer.avatar.url
    .text-center
      %h2= current_employer.company
      %h5= "#{current_employer.city} #{current_employer.state ? current_employer.state.name: ''}, #{current_employer.zip}"
      = link_to "Edit Profile", employers_account_path, class: "btn btn-default"
      = link_to "Account Settings", edit_employer_registration_path, class: "btn btn-default"

    %hr

    .row
      .col-md-6
        %h2= "About #{current_employer.company}"
        = current_employer.description
      .col-md-6
        - if current_employer.ziggeo_token != nil
          %ziggeo{ 'ziggeo-video' => current_employer.ziggeo_token, 'ziggeo-width' => 553, 'ziggeo-height' => 297}
