- if @profile.present?
  .profile
    .container.padded-container
      .row
        .col-md-12.text-center
          = image_tag @profile.avatar.url(:medium)
      .text-center
        %h2= @employer.company
        %h5= "#{@profile.city} #{@profile.state ? @profile.state.name: ''}, #{@profile.zip}"

      %hr

      .row
        .col-md-6
          %h2= "About #{@employer.company}"
          = @profile.description
        .col-md-6
          - if @profile.ziggeo_token != nil && @profile.ziggeo_token != ''
            %ziggeo{ 'ziggeo-video' => @profile.ziggeo_token, 'ziggeo-width' => 553, 'ziggeo-height' => 297}
