%h1 Listing candidate_job_actions

%table
  %thead
    %tr
      %th Candidate
      %th Job
      %th Is saved
      %th
      %th
      %th
      
  %tbody
    - @candidate_job_actions.each do |candidate_job_action|
      %tr
        %td= candidate_job_action.candidate_id
        %td= candidate_job_action.job_id
        %td= candidate_job_action.is_saved
        %td= link_to 'Show', candidate_job_action
        %td= link_to 'Edit', edit_candidate_job_action_path(candidate_job_action)
        %td= link_to 'Destroy', candidate_job_action, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Candidate job action', new_candidate_job_action_path
