#footer
  .container
    .row
      .col-md-3
        %h4 SALESMATCHR
        %ul
          %li
            Salesmatchr Inc.<br>
            1900 Campus Commons Drive, Suite 100<br>
            Reston,  VA  20191
          %li
            %i.fa.fa-envelope
            team@jobmatchr.co
          %li
            %i.fa.fa-phone
            (703) 224-8088
          %li.social
            = link_to 'https://www.facebook.com/salesmatchr' do
              %i.fa.fa-facebook
            = link_to 'https://twitter.com/salesmatchr' do
              %i.fa.fa-twitter
      .col-md-3
        %h4 MORE SALESMATCHR
        %ul
          %li
            = link_to "Blog", 'https://salesmatchrblog.wordpress.com/'
          %li
            = link_to "Contact Us", "mailto:support@salesmatchr.com"
      .col-md-3
        %h4 RESOURCES
        %ul
          %li Terms of Service
          %li Privacy Policy
          %li
            = link_to "Hustler FAQ", pages_hustlers_faq_path
          %li
            = link_to "Hirer FAQ", pages_hirers_faq_path
      .col-md-3
        %a.twitter-timeline{"data-widget-id" => "636603275060604928", :href => "https://twitter.com/salesmatchr"} Tweets by @salesmatchr

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
